<div class=" {% unless searchIcon %}md:hidden{% endunless %}" id="searchIcon">
  {%- render 'icon', iconName: 'search', id: 's_icon', class: 'pl-3 fill-textColor w-[35] h-[35] md:w-[27] md:h-[27]', fill: fill -%}
  {%- render 'icon', iconName: 'x-circle', id: 'x_icon', class: 'pl-3 hidden fill-textColor w-[35] h-[35] md:w-[27] md:h-[27]', fill: fill -%}
</div>
{%- if settings.show_wishlist -%}
  <div class="hidden md:block">
    {%- render 'icon', iconName: 'heart', class: 'pl-3 fill-textColor', fill: fill -%}
  </div>
{%- endif -%}
<div class="hidden md:block">
  {%- render 'icon', iconName: 'user', class: 'user-icon-md pl-3 fill-textColor w-[33] h-[33] cursor-pointer', fill: fill -%}
  <div class="relative z-10 hidden user-dropdown-menu">
    <ul class="top-0 right-0 bg-[#ffff] shadow-md" style="position:absolute;">
      <li
        class=" p-1 px-3 text-sm text-textColor hover:bg-backgroundColor hover:text-secondaryColor cursor-pointer"
      >
        <a href="account/orders">Orders</a>
      </li>
      {%- if customer -%}
        <li
          class=" p-1 px-3 text-sm text-textColor hover:bg-backgroundColor hover:text-secondaryColor cursor-pointer"
        >
          <a href="/account/logout/">logout</a>
        </li>
      {%- else -%}
        <li
          class=" p-1 px-3 text-sm text-textColor hover:bg-backgroundColor hover:text-secondaryColor cursor-pointer"
        >
          <a href="/account/login/">login</a>
        </li>
      {%- endif -%}
    </ul>
  </div>
</div>
<div id="cartbtn" class=" relative">
  {%- render 'icon',
    iconName: 'cart',
    class: 'pl-3 fill-textColor w-[35] h-[35] md:w-[29] md:h-[29] cursor-pointer',
    fill: fill
  -%}
  <span class="{% if cart.item_count == 0 %} hidden {% endif %} cart-product-counter absolute -top-1 -right-1 bg-accent text-secondaryColor bg-primaryColor rounded-full text-[10px] w-4 h-4 text-center p-[1px] shadow-md">
    {{- cart.item_count -}}
  </span>
</div>
