<nav
  class="flex h-auto gap-x-5 text-textColor text-md items-center overflow-x-auto whitespace-nowrap scroll-none font-menu {{ class }}"
>
  {% if section.settings.catagory_menu and section.settings.iscatagory %}
    <div class="main-menu">
      {% comment %} <div id="catagory-overlay" class="overlay fixed left-0 right-0 bottom-0 top-0 bg-primaryColor z-[2] hidden opacity-40"></div> {% endcomment %}
      <div
        id="catagory-navigator"
        class=" flex items-center justify-center py-3 gap-0.5 text-textColor font-semibold cursor-pointer"
      >
        {%- render 'icon', iconName: 'list', class: '',size:20, fill: section.settings.icon_color -%}
        <span>Catagories</span>
      </div>
      {%- render 'mega-catagory-list', catagoryMenu: section.settings.catagory_menu -%}
    </div>
  {% endif %}
  {% for link in linklists[headerMenu].links %}
    <div class="main-menu text-center">
      <a
        href="{{ link.url }}"
        class="text-textColor hover:text-textColor font-semibold flex gap-1 items-center py-3"
      >
        <span>{{- link.title -}}</span>
        {%- unless link.links==blank -%}
          <span class=" inline-block">{%- render 'icon', iconName:'chevron-down', size:12 -%}</span>
        {%- endunless -%}
      </a>
      {% if link.links != blank %}{%- render 'mega-menu', object: link -%}{% endif %}
    </div>
  {% endfor %}
</nav>

