{%- assign link = object -%}
<div
  id="megamenu"
  class="main-menu-item absolute bg-secondaryColor shadow-md z-10 border-t border-separatorlineColor"
>
  <ul class="text-left text-md min-w-[150px]">
    {%- for child_link in link.links -%}
      <li class="child-link relative flex justify-center items-center gap2">
        <a
          href="{{ child_link.url }}"
          class="flex-1 p-2 inline-block transition-all duration-300 hover:translate-x-1 hover:text-primaryColor"
        >
          {{- child_link.title -}}
        </a>
        {%- unless child_link.links == blank -%}
          <span>{%- render 'icon', iconName: 'chevron-right', size: 20, class: 'px-1' -%}</span>
          <ul class="child-link-item bg-secondaryColor absolute left-full top-0 border-l border-separatorlineColor min-w-[150px]">
            {%- for grand_child_link in child_link.links -%}
              <li>
                <a
                  class="inline-block p-2 w-full transition-all duration-300 hover:translate-x-1 hover:text-primaryColor"
                  href="{{ grand_child_link.url }}"
                >
                  {{- grand_child_link.title -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
