<div class="flex h-full gap-4 items-center justify-start py-2">
      <div class="text-primaryColor">|</div>
      {%- unless settings.facebook == empty -%}
        <a href="{{ settings.facebook }}" target="_blank" class="flex items-center">
          <i>{%- render 'icon', iconName: 'facebook', size: '1rem', class: 'fill-primaryColor' -%}</i>
        </a>
      {%- endunless -%}
      {%- unless settings.instagram == empty -%}
        <a href="{{ settings.instagram }}" target="_blank" class="flex items-center">
          <i>{%- render 'icon', iconName: 'instagram', size: '1rem', class: 'fill-primaryColor' -%}</i>
        </a>
      {%- endunless -%}
      {%- unless settings.tiktok == empty -%}
        <a href="{{ settings.tiktok }}" target="_blank" class="flex items-center">
          <i>{%- render 'icon', iconName: 'tiktok', size: '1rem', class: 'fill-primaryColor' -%}</i>
        </a>
      {%- endunless -%}
      {%- unless settings.x == empty -%}
        <a href="{{ settings.x }}" target="_blank" class="flex items-center">
          <i>{%- render 'icon', iconName: 'x', size: '1rem', class: 'fill-primaryColor' -%}</i>
        </a>
      {%- endunless -%}
    </div>
