:root {
    /*theme color*/
    --theme-primary-color: #234e77;
    --theme-secondary-color: #ffffff;
    --theme-accent-color: #f3ad45;
    --theme-secondaryColor-color: #fff;
    --theme-black-color: black;
    --theme-disable-color: #a5a5a5;
    --theme-transparent-color: transparent;

    --layout-width: 75%;
    /* button */
    --button-raduis: 0px;
    /* input */
    --input-raduis: 0px;
    
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }
}

@layer components {
    body {
        @apply bg-[#f8f8f8];
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
    }

    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a:focus,
    a:visited,
    a:active {
        outline: none;
    }

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
    }

    button:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }

    mark {
        @apply bg-primaryColor text-subtextColor;
    }

    .rtl-direction {
        direction: rtl;
    }

    .ltr-direction {
        direction: ltr;
    }

    .layout {
        @apply w-full lg:w-[var(--layout-width)] lg:mx-auto px-2 md:px-2 lg:px-[var(--layout-padding)];
    }

    .swiper-slide-thumb-active {
        @apply border-2 border-primaryColor;
    }

    .swiper-button-prev {
        @apply !text-primaryColor hover:opacity-90;
    }

    .section-heading {
        font-style: var(--font-heading-style);
        font-weight: var(--font-heading-weight);
        @apply text-2xl text-center text-headingColor pt-5 font-heading font-semibold;
    }

    .section-tagline {
        @apply text-sm text-subtextColor text-center;
    }

    input,
    textarea {
        @apply bg-[transparent];
    }

    .btn-outline-color {
        @apply border rounded-[var(--button-raduis)] font-btn border-primaryColor text-primaryColor hover:bg-secondaryColor hover:text-primaryColor px-4 py-2 cursor-pointer font-semibold text-sm transition duration-300;
    }

    .btn-fill-color {
        @apply border rounded-[var(--button-raduis)] font-btn border-secondaryColor bg-secondaryColor text-primaryColor px-4 py-2 cursor-pointer font-semibold text-sm transition duration-300;
    }

    .input-outline {
        @apply rounded-[var(--input-raduis)] border border-black cursor-pointer text-black child:placeholder-black child:placeholder-opacity-50 fill-black text-sm p-2;
    }

    .input-fill {
        @apply rounded-[var(--input-raduis)] border outline-none border-secondaryColor bg-secondaryColor cursor-pointer text-primaryColor fill-primaryColor child:placeholder-primaryColor child:placeholder-opacity-50 text-sm p-2;
    }

    .input-outline-color {
        @apply rounded-[var(--input-raduis)] border outline-none border-secondaryColor cursor-pointer text-primaryColor fill-primaryColor child:placeholder-primaryColor child:placeholder-opacity-50 text-sm p-2;
    }




    .input-rounded {
        @apply rounded-full border border-subtextColor cursor-pointer outline-none;
    }

    .input-squre {
        @apply rounded-none border border-subtextColor cursor-pointer outline-none;
    }

    .link {
        @apply text-textColor cursor-pointer transition duration-300 hover:opacity-90;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    input[type="radio"]:checked+.radio_back>.radio_dot {
        opacity: 100% !important;
    }

    input[type="checkbox"]:checked+.radio_back>.radio_dot {
        opacity: 100% !important;
    }

    input[type=number] {
        appearance: textfield;
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0.3;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.3;
        }
    }

    .fade-in-out-element {
        opacity: 0;
        animation: fadeInOut 2s ease-in-out infinite;
    }

    @keyframes zoomInOut {
        0% {
            scale: 1;
        }

        50% {
            scale: 0.7;
        }

        100% {
            opacity: 1;
        }
    }

    .zoom-in-out {
        animation: zoomInOut 2s ease-in-out infinite;
    }

    .content-topleft {
        @apply top-10 left-10 md:top-24 md:left-24;
    }

    .content-bottomleft {
        @apply bottom-10 left-10 md:bottom-24 md:left-24;
    }

    .content-topright {
        @apply top-10 right-10 md:top-24 md:right-24;
    }

    .content-bottomright {
        @apply bottom-10 right-10 md:bottom-24 md:right-24;
    }

    swiper-container {
        z-index: 1;
    }

    .cart-drawer-show {
        @apply !translate-x-0;
    }

    variant-selector input[type="radio"]:checked+label {
        @apply bg-secondaryColor text-primaryColor border-primaryColor;
    }

    #filter-list input[type="checkbox"] {
        accent-color: var(--theme-accent-color) !important;
    }

    #filter-list input[type="checkbox"]:checked+span {
        @apply bg-secondaryColor text-primaryColor border-primaryColor shadow-md;
    }

    #filter-list input[type="checkbox"]:checked+span .filter_remove_icon {
        @apply block;
    }

    .product-grid-filter input[type="radio"]:checked+.filter_active {
        @apply !bg-secondaryColor text-primaryColor;
    }

    .product-grid-filter input[type="radio"]:checked+.underline_style {
        @apply border-b text-primaryColor;
    }

    .form_input {
        @apply w-full focus:outline-none;
    }

    .submit button {
        @apply w-full;
    }

    .main-menu-item {
        @apply transition-all duration-300 translate-y-2 opacity-0 hidden;
    }

    .main-menu:hover .main-menu-item {
        @apply opacity-100 block translate-y-0;
    }

    .cat-link-item {
        @apply hidden;
    }

    .cat-link:hover .cat-link-item {
        @apply block;
    }

    .child-link-item {
        @apply hidden;
    }
    .child-link:hover .child-link-item {
        @apply block;
    }
}