
:root {
    /*theme color*/
    --theme-primary-color: #234e77;
    --theme-secondary-color: #ffffff;
    --theme-accent-color: #f3ad45;
    --theme-secondaryColor-color: #fff;
    --theme-black-color: black;
    --theme-disable-color: #a5a5a5;
    --theme-transparent-color: transparent;


    --layout-width: 75%;

    /* button */
    --button-raduis: 0px;
    /* input */
    --input-raduis: 0px;
    --input-isborder: 1px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    h1{
        @apply text-2xl;
    }
    h2{
        @apply text-xl;
    }
    h3{
        @apply text-lg;
    }
    h4{
        @apply text-base;
    }
    h5{
        @apply text-sm;
    }
}

@layer components {
    body {
        @apply bg-[#f8f8f8] font-body;
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
    }

    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a:focus,
    a:visited,
    a:active {
        outline: none;
    }

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
    }

    button:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }

    mark {
        @apply bg-backgroundColor text-subtextColor;
    }

    .rtl-direction {
        direction: rtl;
    }

    .ltr-direction {
        direction: ltr;
    }

    .scroll::-webkit-scrollbar{
        width: auto;
    }
    .scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .scroll::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px var(--theme-primary-color);
    }

    .scroll-none::-webkit-scrollbar { 
        width: 0px;
    }

    .scroll-wa::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-w3::-webkit-scrollbar {
        width: 3px !important;
    }

    .scroll-w6::-webkit-scrollbar {
        width: 6px !important;
    }

    .scroll-ha::-webkit-scrollbar {
        height: 10px !important;
    }

    .scroll-h3::-webkit-scrollbar {
        height: 3px !important;
    }

    .scroll-h6::-webkit-scrollbar {
        height: 6px !important;
    }

    .layout {
        @apply w-full lg:w-[var(--layout-width)] lg:mx-auto px-2 md:px-2 lg:px-[var(--layout-padding)];
    }

    .swiper-slide-thumb-active {
        @apply border-2 border-primaryColor;
    }

    .swiper-button-prev {
        @apply !text-primaryColor hover:opacity-90;
    }

    .section-heading {
        font-style: var(--font-heading-style);
        font-weight: var(--font-heading-weight);
        @apply text-2xl text-center text-textColor pt-5 font-heading font-semibold;
    }
    .section-tagline{
        @apply text-sm text-subtextColor text-center;
    }

    .btn-outline {
        @apply border rounded-[var(--button-raduis)] font-btn px-4 py-2 cursor-pointer font-semibold text-sm;
    }

    .btn-outline-color {
        @apply border rounded-[var(--button-raduis)] font-btn border-primaryColor px-4 py-2 cursor-pointer font-semibold text-sm transition duration-300 text-primaryColor hover:bg-primaryColor hover:text-secondaryColor;
    }

    .btn-fill {
        @apply border rounded-[var(--button-raduis)] font-btn border-neutralLightColor px-4 py-2 cursor-pointer font-semibold text-sm transition duration-300 text-secondaryColor bg-neutralLightColor;
    }

    .btn-fill-color {
        @apply border rounded-[var(--button-raduis)] font-btn border-primaryColor px-4 py-2 cursor-pointer font-semibold text-sm transition duration-300 text-secondaryColor bg-backgroundColor;
    }

    .input-outline {
        border-width: var(--input-isborder);
        @apply rounded-[var(--input-raduis)] border-neutralLightColor cursor-pointer text-textColor fill-textColor bg-secondaryColor text-sm p-2;
    }

    .input-outline option:hover {
        @apply bg-neutralLightColor text-textColor;
    }

    .input-outline-color {
        border-width: var(--input-isborder);
        @apply rounded-[var(--input-raduis)] border-primaryColor cursor-pointer text-primaryColor bg-secondaryColor text-sm p-2;
    }

    .input-outline-color option:hover {
        @apply bg-backgroundColor text-textColor;
    }


    .input-rounded {
        @apply rounded-full border border-subtextColor cursor-pointer outline-none;
    }

    .input-squre {
        @apply rounded-none border border-subtextColor cursor-pointer outline-none;
    }

    .link {
        @apply text-textColor cursor-pointer transition duration-300 hover:opacity-90;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    input[type="radio"]:checked+.radio_back>.radio_dot {
        opacity: 100% !important;
    }

    input[type="checkbox"]:checked+.radio_back>.radio_dot {
        opacity: 100% !important;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0.3;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.3;
        }
    }

    .fade-in-out-element {
        opacity: 0;
        animation: fadeInOut 2s ease-in-out infinite;
    }

    @keyframes zoomInOut {
        0% {
            scale: 1;
        }

        50% {
            scale: 0.7;
        }

        100% {
            opacity: 1;
        }
    }

    .zoom-in-out {
        animation: zoomInOut 2s ease-in-out infinite;
    }

    .content-topleft {
        @apply top-10 left-10 md:top-24 md:left-24;
    }

    .content-bottomleft {
        @apply bottom-10 left-10 md:bottom-24 md:left-24;
    }

    .content-topright {
        @apply top-10 right-10 md:top-24 md:right-24;
    }

    .content-bottomright {
        @apply bottom-10 right-10 md:bottom-24 md:right-24;
    }

    swiper-container {
        z-index: 1;
    }

    .cart-drawer-show {
        @apply !translate-x-0;
    }

    variant-selector input[type="radio"]:checked+label {
        @apply bg-backgroundColor text-secondaryColor border-primaryColor;
    }

    #filter-list input[type="checkbox"] {
        accent-color: var(--theme-accent-color) !important;
    }

    #filter-list input[type="checkbox"]:checked+span {
        @apply bg-backgroundColor text-secondaryColor border-primaryColor shadow-md;
    }

    #filter-list input[type="checkbox"]:checked+span .filter_remove_icon {
        @apply block;
    }

    .product-grid-filter input[type="radio"]:checked+span {
        @apply bg-backgroundColor text-secondaryColor;
    }

    .form_input {
        @apply w-full focus:outline-none;
    }

    .submit button {
        @apply w-full;
    }


    /* #filter-list::-webkit-scrollbar {
    width: 3px;
  } */
}