
  <section
    class=" bg-secondaryColor text-primaryColor fill-primaryColor {{ section.settings.theme_color }}"
  >
    <div class="layout lg:p-0">
      <div class="flex items-center justify-between">
        <div class="w-1/4 hidden md:flex gap-2">
          <div>
            {%- if section.settings.isContactDetail -%}
              {%- render 'contact-icon' -%}
            {%- endif -%}
          </div>
          <div class="">
            {%- if section.settings.isSocailLinks -%}
              {%- render 'social-icon' -%}
            {%- endif -%}
          </div>
        </div>
        <div class="w-full md:w-2/4">
          {%- if section.settings.isAnnouncementList -%}
            <announcement-bar class="flex items-center justify-center p-2" time-duration="3000">
              {% for block in section.blocks %}
                <a
                  class="text-center text-primaryColor inline-block {% unless forloop.index0==0 %}hidden{% endunless %}"
                  href="{{ block.settings.url }}"
                  style="{% if section.settings.isOverrideDefualt %}color:{{ section.settings.txtColor }} !important; {% endif %}"
                >
                  {{ block.settings.txt }}
                </a>
              {% endfor %}
            </announcement-bar>
          {%- endif -%}
        </div>
        <div class="w-1/4 hidden md:flex items-center justify-end gap-2">
          {%- if settings.show_country_selector -%}
            {% render 'country-selector', class: 'text-primaryColor border-primaryColor bg-transparent' %}
          {%- endif -%}
          {%- if settings.show_language_selector -%}
            {% render 'language-selector', class: 'text-primaryColor border-primaryColor bg-transparent' %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>


{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "header",
      "content": "Announcement list"
    },
    {
      "type": "checkbox",
      "id": "isAnnouncementList",
      "label": "Show",
      "default": true
    },
    {
      "type": "header",
      "content": "Contact Details"
    },
    {
      "type": "checkbox",
      "id": "isContactDetail",
      "label": "Show",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "isText",
      "label": "Show Text",
      "default": false
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "checkbox",
      "id": "isSocailLinks",
      "label": "Show",
      "default": true
    },

    {
      "type": "header",
      "content": "Colors Settings"
    },
    {
      "type": "color_scheme",
      "id": "theme_color",
      "label": "Theme Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "txt",
          "label": "Announcement",
          "default": "<p>10% off all products</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Target Url"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {
          "txt": "<p>10% off all products</p>"
        }
      },
      {
        "type": "text",
        "settings": {
          "txt": "<p>Free shipping on all orders</p>"
        }
      }
    ]
  }
}
{% endschema %}
