<section>
  <div class="layout">
    <div class="flex items-center justify-center sm:p-4 lg:p-0">
      <div class="sm:w-full md:w-1/3 my-5 h-auto">
        <div class="title text-xl p-2 text-accentColor uppercase text-center">Password Reset</div>
        {%- form 'reset_customer_password' -%}
          <div class="password {{settings.input_style}} my-3">
            <input
              class="form_input"
              type="password"
              name="customer[password]"
              id="password"
              placeholder="password"
            >
          </div>
          <div class="password_confirm {{settings.input_style}} my-3">
            <input
              class="form_input"
              type="password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              placeholder="confirm password"
            >
          </div>
          <button class="submit {{ settings.btn_style }} p-2 text-center w-full" type="submit">Reset password</button>

          {%- if form.errors -%}
            <div class="p-2 my-2 text-sm bg-[#ffff] text-[#e04a4a]">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password Reset",
  "settings": [],
  "default": {}
}
{% endschema %}
