<section>
  <div class="layout">
    <div class=" flex sm:h-[300px] md:h-[500px] justify-center items-center">
      <div>
        <div class="text-center text-textColor sm:text-4xl md:text-6xl my-4">No Page Found!</div>
        <div class="flex gap-2 justify-center items-center">
          <a href="/" class="{{ settings.btn_style }}">Home</a>
          <a href="/collections/all" class="{{ settings.btn_style }}">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
</section>
