<footer class="border-t border-neutralLightColor">
  <div class="flex p-4 items-center justify-center">
  <div>
    <div class=" text-subtextColor text-sm text-center mt-2">
      Are you the store owner? <a class=" text-linkColor" href="https://alifby.com/admin">login here</a>
    </div>
  </div>
  </div>
</footer>

{% schema %}
{
  "name": "Password Footer",
  "settings": [],
  "default": {}
}
{% endschema %}