<div class=" border-b border-neutralLightColor">
  <div class="layout">
    <div class="flex items-center justify-between">
      <div class="p-4 text-xl text-textColor">{{ shop.name }}</div>
      <a href="#passwordform" id="password_trigger" class=" text-accentColor cursor-pointer">Enter using password</a>
      <a href="#" id="subscribe_trigger" class=" text-accentColor hidden cursor-pointer">Subscribe For Updates</a>
    </div>
</div>
</div>

{% schema %}
{
  "name": "Password Header",
  "settings": [],
  "default": {}
}
{% endschema %}