{%- if predictive_search.performed -%}
  {%- if predictive_search.resources.products.size > 0 -%}
    {%- for product in predictive_search.resources.products -%}
      {%- render 'product-card', product: product, class: 'sm:w-[45%] md:w-1/5 ' -%}
    {%- endfor -%}

  {%- else -%}
    <span class="p-4">No Match found</span>
  {%- endif -%}
{%- endif -%}
