{%- if recommendations.performed? -%}
    <div id="product-recommendations">
      {%- if recommendations.products_count > 0 -%}
        {% if recommendations.intent == 'related' %}
          {% comment %} <h2>You may also like</h2> {% endcomment %}
        {% elsif recommendations.intent == 'complementary' %}
          {% comment %} <h2>Pair it with</h2> {% endcomment %}
        {% endif %}
  
          <div class="flex justify-around flex-wrap md:flex-nowrap gap-2 mt-2 sm:p-1">
            {%- for product in recommendations.products limit: 6 -%}
                {%- render 'product-card', product: product , class: "sm:w-[48%] md:w-1/6" -%}
              {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}